In [58]:
import string

In [59]:
stopwords = nltk.corpus.stopwords.words('english')

In [60]:
ps = nltk.PorterStemmer()

In [61]:
data = pd.read_csv('data/SMSSpamCollection.csv')
data = data[['label','text']]
data.head()
data['text'].apply(str)
data.dropna(axis=0, inplace=True)

In [62]:
def count_punct(text):
    count = sum([1 for char in text if char in string.punctuation])
    return count

In [63]:


data['body_len'] = data['text'].apply(lambda x: len(x) - x.count(" "))

In [64]:
data.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 5570 entries, 0 to 5573
Data columns (total 3 columns):
label       5570 non-null int64
text        5570 non-null object
body_len    5570 non-null int64
dtypes: int64(2), object(1)
memory usage: 174.1+ KB

In [67]:

data['punct%'] = data['text'].apply(lambda x: round(count_punct(x) / len(x), 3) * 100)

In [68]:
data.head()

   label  ... punct%
0      0  ...    0.0
1      0  ...   20.7
2      1  ...    0.7
3      0  ...   12.2
4      0  ...    0.0

[5 rows x 4 columns]

In [71]:
def clean_text(text):
    text = "".join([word.lower() for word in text if word not in string.punctuation])
    tokens =  re.split('\W+', text)
    text = [ps.stem(word) for word in tokens if word not in stopwords]
    return text