In [1]:
import nltk
nltk.download()

showing info https://raw.githubusercontent.com/nltk/nltk_data/gh-pages/index.xml

True

In [2]:
# dir(nltk)
import pandas as pd

In [3]:
rawData = open('data/SMSSpamCollection.csv').read()

In [4]:
rawData[0:500]

'label,text,,,,,,,,,,,,\n0,Go until jurong point,,,,,,,,,,,,\n0,Ok lar... Joking wif u oni...,,,,,,,,,,,,\n1,Free entry in 2 a wkly comp to win FA Cup final tkts 21st May 2005. Text FA to 87121 to receive entry questionstd txt rateTCs apply 08452810075over18s,,,,,,,,,,,,\n0,U dun say so early hor... U c already then say...,,,,,,,,,,,,\n0,Nah I dont think he goes to usf,,,,,,,,,,,,\n1,FreeMsg Hey there darling its been 3 weeks now and no word back Id like some fun you up for it still Tb ok XxX std chgs '

In [5]:
fullCorpus = pd.read_csv('data/SMSSpamCollection.csv')

In [6]:
fullCorpus.head()

,label,text,Unnamed: 2,Unnamed: 3,Unnamed: 4,Unnamed: 5,Unnamed: 6,Unnamed: 7,Unnamed: 8,Unnamed: 9,Unnamed: 10,Unnamed: 11,Unnamed: 12,Unnamed: 13
0,0,Go until jurong point,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,0,Ok lar... Joking wif u oni...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,1,Free entry in 2 a wkly comp to win FA Cup fina...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,0,U dun say so early hor... U c already then say...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,0,Nah I dont think he goes to usf,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [7]:
fullCorpus = fullCorpus[['label', 'text']]

In [8]:
fullCorpus.loc[5]['text']

'FreeMsg Hey there darling its been 3 weeks now and no word back Id like some fun you up for it still Tb ok XxX std chgs to send'

In [9]:
fullCorpus.head()

   label                                               text
0      0                              Go until jurong point
1      0                      Ok lar... Joking wif u oni...
2      1  Free entry in 2 a wkly comp to win FA Cup fina...
3      0  U dun say so early hor... U c already then say...
4      0                    Nah I dont think he goes to usf

In [10]:
fullCorpus.shape

(5574, 2)

In [11]:
# how many ham
len(fullCorpus[fullCorpus['label'] == 0])

4827

In [12]:
# how many spam
len(fullCorpus[fullCorpus['label'] == 1])

747

In [13]:
# missing labels
fullCorpus['label'].isnull().sum()

0

In [14]:
# missing text
fullCorpus['text'].isnull().sum()

4

In [15]:
fullCorpus.dropna(axis=0, inplace=True)

In [16]:
fullCorpus.shape

(5570, 2)

In [17]:
# regexp
import re

In [18]:
re_test = 'This is a made up string to test 2 different regex methods'
re_test_messy = 'This    is a made up    string to test 2    different regex methods'
re_test_messy1 = 'This-is-a-made/up.string*to>>>>test----2"""""different-regex-methods'

In [19]:
# splitting
re.split('\s', re_test) #split by single whitespace

['This',
 'is',
 'a',
 'made',
 'up',
 'string',
 'to',
 'test',
 '2',
 'different',
 'regex',
 'methods']

In [20]:
re.split('\s',re_test_messy)

['This',
 '',
 '',
 '',
 'is',
 'a',
 'made',
 'up',
 '',
 '',
 '',
 'string',
 'to',
 'test',
 '2',
 '',
 '',
 '',
 'different',
 'regex',
 'methods']

In [21]:
re.split('\s+', re_test_messy) # one or more white space

['This',
 'is',
 'a',
 'made',
 'up',
 'string',
 'to',
 'test',
 '2',
 'different',
 'regex',
 'methods']

In [22]:
re.split('\s+', re_test_messy1)

['This-is-a-made/up.string*to>>>>test----2"""""different-regex-methods']

In [23]:
re.split('\W+', re_test_messy1) # for special characters

['This',
 'is',
 'a',
 'made',
 'up',
 'string',
 'to',
 'test',
 '2',
 'different',
 'regex',
 'methods']

In [24]:
 re.findall('\S+', re_test) # one or more non-white space

['This',
 'is',
 'a',
 'made',
 'up',
 'string',
 'to',
 'test',
 '2',
 'different',
 'regex',
 'methods']

In [25]:
re.findall('\S+', re_test_messy)

['This',
 'is',
 'a',
 'made',
 'up',
 'string',
 'to',
 'test',
 '2',
 'different',
 'regex',
 'methods']

In [26]:
re.findall('\w+', re_test_messy1)

['This',
 'is',
 'a',
 'made',
 'up',
 'string',
 'to',
 'test',
 '2',
 'different',
 'regex',
 'methods']

In [27]:
# replacing a specific string
pep8_test = 'I try to follow PEP8 guidelines'
pep7_test = 'I try to follow PEP7 guidelines'
peep8_test = 'I try to follow PEEP8 guidelines'

In [28]:
re.findall('[a-z]+', pep8_test)

['try', 'to', 'follow', 'guidelines']

In [29]:
re.findall('[A-Z]+', pep8_test)

['I', 'PEP']

In [30]:
re.findall('[A-Z]+[0-9]+', pep8_test)

['PEP8']

In [31]:
re.findall('[A-Z]+[0-9]+', pep7_test)

['PEP7']

In [32]:
# replacing
re.sub('[A-Z]+[0-9]+', 'PEP8 Style guide', pep8_test)

'I try to follow PEP8 Style guide guidelines'