In [1]:
import pandas as pd

In [5]:
pd.set_option('display.max_colwidth', 200)
data = pd.read_csv('data/SMSSpamCollection.csv')
data = data[['label', 'text']]
data.head()

,label,text
0,0,Go until jurong point
1,0,Ok lar... Joking wif u oni...
2,1,Free entry in 2 a wkly comp to win FA Cup final tkts 21st May 2005. Text FA to 87121 to receive entry questionstd txt rateTCs apply 08452810075over18s
3,0,U dun say so early hor... U c already then say...
4,0,Nah I dont think he goes to usf

## Text Cleaning Pipeline

### Removing Punctuation

In [6]:
import string

In [7]:
string.punctuation

'!"#$%&\'()*+,-./:;<=>?@[\\]^_`{|}~'

In [17]:
data['text'] = data['text'].apply(str)

In [18]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5574 entries, 0 to 5573
Data columns (total 2 columns):
label    5574 non-null int64
text     5574 non-null object
dtypes: int64(1), object(1)
memory usage: 87.2+ KB

In [20]:
def remove_punctuation(text):
    text_no_punctuation = "".join([char for char in text if char not in string.punctuation])
    return text_no_punctuation

data['body_text_clean'] = data['text'].apply(lambda x: remove_punctuation(x))

data.head()

,label,text,body_text_clean
0,0,Go until jurong point,Go until jurong point
1,0,Ok lar... Joking wif u oni...,Ok lar Joking wif u oni
2,1,Free entry in 2 a wkly comp to win FA Cup final tkts 21st May 2005. Text FA to 87121 to receive entry questionstd txt rateTCs apply 08452810075over18s,Free entry in 2 a wkly comp to win FA Cup final tkts 21st May 2005 Text FA to 87121 to receive entry questionstd txt rateTCs apply 08452810075over18s
3,0,U dun say so early hor... U c already then say...,U dun say so early hor U c already then say
4,0,Nah I dont think he goes to usf,Nah I dont think he goes to usf

## Tokenization

In [21]:
import re

In [22]:
def tokenize(text):
    tokens = re.split('\W+', text)
    return tokens

data['body_text_tokenized'] = data['body_text_clean'].apply(lambda x: tokenize(x.lower()))

In [23]:
data.head()

,label,text,body_text_clean,body_text_tokenized
0,0,Go until jurong point,Go until jurong point,"[go, until, jurong, point]"
1,0,Ok lar... Joking wif u oni...,Ok lar Joking wif u oni,"[ok, lar, joking, wif, u, oni]"
2,1,Free entry in 2 a wkly comp to win FA Cup final tkts 21st May 2005. Text FA to 87121 to receive entry questionstd txt rateTCs apply 08452810075over18s,Free entry in 2 a wkly comp to win FA Cup final tkts 21st May 2005 Text FA to 87121 to receive entry questionstd txt rateTCs apply 08452810075over18s,"[free, entry, in, 2, a, wkly, comp, to, win, fa, cup, final, tkts, 21st, may, 2005, text, fa, to, 87121, to, receive, entry, questionstd, txt, ratetcs, apply, 08452810075over18s]"
3,0,U dun say so early hor... U c already then say...,U dun say so early hor U c already then say,"[u, dun, say, so, early, hor, u, c, already, then, say]"
4,0,Nah I dont think he goes to usf,Nah I dont think he goes to usf,"[nah, i, dont, think, he, goes, to, usf]"